spring:
  application:
    name: social-network-friend

  datasource:
    url: jdbc:postgresql://194.67.88.81:5432/friend_db?currentSchema=friend_schema
    username: postgres
    password: rkljerkgjerhgperoewkgreoierpgrelil
    hikari:
      connection-timeout: 10000
      connection-init-sql: CREATE SCHEMA IF NOT EXISTS friend_schema

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        default_schema: friend_schema

  liquibase:
    enabled: true
    change-log: classpath:db/db.changelog-master.yaml

server:
  port: 8087

eureka:
  client:
    service-url:
      defaultZone: http://194.67.88.81:8761/eureka/
    fetch-registry: true
    register-with-eureka: true

app:
  topic: { account_topic: account-events-topic, send_topic: notifications-topic }
  url: http://194.67.88.81:8080/api/v1

sonar:
  jacoco:
    reportPaths: target/site/jacoco/jacoco.xml